/* Drop down list selection: */

.drop-down-wrapper {
  grid-area: selection;
  user-select: none;
  margin-top: 10px;
  width: 240px;
  color: var(--text-color);
  margin-left: 10px;
}

.drop-down-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
}

.drop-down-header-title {
  font-weight: 300;
  margin: 2px 10px;
}

.drop-down-arrow {
  margin-right: 5px;
}

.drop-down-list {
  position: absolute;
  padding: 15px 0;
  z-index: 10;
  max-height: 200px;
  width: 100%;
  width: 238px;
  border: 1px solid rgb(223, 223, 223);
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  cursor: pointer;
  box-shadow: 0 2px 5px -1px rgb(232, 232, 232);
}

.drop-down-list-item {
  line-height: 0.75rem;
  width: 100%;
  padding: 8px 10px;
  color: var(--alt-text-color);
  display: block;
  text-overflow: ellipsis;
}

.drop-down-list-item:hover {
  color: var(--text-color);
}

.drop-down-list-item:select {
  color: var(--text-color);
}
