/* FOOTER STYLING: */

footer {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-areas: 'tmdb by about';
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
  text-align: center;
  background-color: transparent;
}

footer span {
  font-size: 12px;
  color: var(--alt-text-color);
  background-color: inherit;
}

.by {
  grid-area: by;
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.site-about {
  grid-area: about;
  position: relative;
  width: 3em;
  margin-top: 10px;
}

.tmdb-img {
  grid-area: tmdb;
  position: relative;
  float: left;
  width: 95px;
  bottom: -5px;
  left: 5px;
  background-color: inherit;
}
