/* HEADER STYLING: */

header {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-areas: 'selection title search';
  min-height: var(--header-min-height);
  height: 100%;
}

/* Drop down list selection: */

.drop-down-wrapper {
  grid-area: selection;
  user-select: none;
  /* position: relative; */
  margin-top: 10px;
  width: 240px;
  color: var(--text-color);
}

.drop-down-header {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
}

.drop-down-header-title {
  font-weight: 300;
  margin: 2px 10px;
}

.drop-down-arrow {
  margin-right: 5px;
}

.drop-down-list {
  position: absolute;
  padding: 15px 0;
  /* top: 2.2em; */
  z-index: 10;
  max-height: 200px;
  width: 100%;
  width: 238px;
  border: 1px solid rgb(223, 223, 223);
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  cursor: pointer;
  box-shadow: 0 2px 5px -1px rgb(232, 232, 232);
}

.drop-down-list-item {
  line-height: 0.75rem;
  width: 100%;
  padding: 8px 10px;
  color: var(--alt-text-color);
  display: block;
  text-overflow: ellipsis;
}

.drop-down-list-item:hover {
  color: var(--text-color);
}

.drop-down-list-item:select {
  color: var(--text-color);
}

/* Site Title: */

.header {
  position: relative;
  float: left;
}

header h1 {
  grid-area: title;
  margin-top: 10px;
  text-align: center;
  color: var(--text-color);
}

/* Movie Search Input Field: */
/* Note: Move to AutoComplete.css? */

header .search-input {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .search-input input[type='text'] {
  background: url('../search-icon.png') no-repeat 10px 8px #444;
  height: 20px;
  color: var(--alt-text-color);
  border: 1px solid var(--alt-text-color);
  width: 25%;
  padding: 6px 15px 6px 30px;
  border-radius: 20px;
  margin: 3px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

header .search-input input[type='text']:focus {
  background-color: var(--alt-text-color);
  /* border-bottom: 1px solid var(--alt-text-color); */
  color: var(--dark-accent);
  width: 95%;
  outline: none;
}

.autocomplete-list-item {
  width: 100%;
  color: var(--light-accent);
  padding: 1%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.45);
  transition: all 0.2s ease 0s;
  z-index: inherit;
}

.autocomplete-list-item:hover {
  color: white;
  background-color: var(--alt-bg-color);
}
